
<main class="col-xs-12 col-md-12">
    <div class="contenedor-General">
        <div class="accordion " id="accordionExample">
            <!--Servicios CASH-->
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    SERVICIOS CASH: <small>TOP 10</small>
                  </button>
                </h2>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                        <div class="card border-light mb-3" style="max-width: 30rem;">
                            <div class="card-header">CONSUMOS</div>
                            <div class="card-body">
                                <app-consumos></app-consumos>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-light mb-3" style="max-width: 30rem;">
                            <div class="card-header">TIEMPOS DE RESPUESTA</div>
                            <div class="card-body">
                                <app-tiempos-de-respuesta></app-tiempos-de-respuesta>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-light mb-3" style="max-width: 30rem;">
                            <div class="card-header">FALLAS</div>
                            <div class="card-body">
                              <app-errores></app-errores>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Servicios Generales-->
            <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      SERVICIOS: <small>EN GENERAL</small>
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                          <div class="col">
                              <div class="card border-light mb-3" style="max-width: 30rem;">
                                  <div class="card-header">FALLAS POR APLICATIVO</div>
                                  <div class="card-body">
                                    <app-errores-por-aplicativo></app-errores-por-aplicativo>
                                  </div>
                              </div>
                          </div>
                          <div class="col">
                              <div class="card border-light mb-3" style="max-width: 30rem;">
                                  <div class="card-header">FALLAS POR CANAL</div>
                                  <div class="card-body">


                                    <app-errores-por-canal></app-errores-por-canal>

                                  </div>
                              </div>
                          </div>
                          <div class="col">
                              <div class="card border-light mb-3" style="max-width: 30rem;">
                                  <div class="card-header">TIEMPOS DE RESPUESTA POR CANAL</div>
                                  <div class="card-body">

                                    <app-tiempos-respuesta-canal></app-tiempos-respuesta-canal>


                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>

                </div>
              </div>

              <div class="card">
                  <div class="card-header" id="headingTree">
                    <h2 class="mb-0">
                      <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseTree" aria-expanded="true" aria-controls="collapseTree">
                        PROMEDIOS
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTree" class="collapse show" aria-labelledby="headingTree" data-parent="#accordionExample">
                    <div class="card-body">

                      <app-promedios></app-promedios>

                    </div>
                  </div>
                </div>
          </div>
    </div>
</main>
