
<div class="row">
    <div class="col">
        <app-main-nav>
            <router-outlet></router-outlet>
        </app-main-nav>

    </div>
</div>
<div class="row">
    <div class="col-md-12 lg-12">

    </div>
</div>
