<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
      <mat-nav-list>
        <h2 matHeader>Entornos</h2>
        <a mat-list-item [routerLink]="['topServicios']" [queryParams]="{entorno: 'local'}">LOCAL</a>
        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]="['topServicios']" [queryParams]="{entorno: 'desarrollo'}" >DESARROLLO</a>
        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]="['topServicios']" [queryParams]="{entorno: 'aceptacion'}" >ACEPTACIÓN</a>

        <mat-divider></mat-divider>

        <a mat-list-item [routerLink]="['topServicios']" [queryParams]="{entorno: 'produccion'}" >PRODUCCIÓN</a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar >
            <mat-toolbar-row>
                <span>
                  <img src="assets/img/favicon.png" width="30" height="30" alt="">
                </span>
                <span>
                    <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                    *ngIf="isHandset$ | async">
                    <mat-icon aria-label="Side nav toggle icon">ENTORNOS</mat-icon>
                  </button>
                </span>

                <span><a class="nav-link" [routerLink]="['topServicios']">Top Servicios</a></span>

                <span><a class="nav-link" [routerLink]="['historico']">Histórico</a></span>

                <span class="example-fill-remaining-space"></span>

                <span>
                    {{ fecha | date: 'd' }} de {{ fecha | date: 'MMMM' }} del {{ fecha | date: 'yyyy' }}
                </span>

              </mat-toolbar-row>
        </mat-toolbar>
        <ng-content></ng-content>
      </mat-sidenav-content>
  </mat-sidenav-container>
