@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.main{
  width: auto !important;
	height: auto !important;
	position: fixed;
	/*top: 4rem;*/
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  overflow-x: auto;
}
.main-container{
	width: auto !important;
	height: auto !important;
	position: fixed;
	/*top: 4rem;*/
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  overflow-x: auto;
}

.contenedor-General{
  position: sticky;
  padding-top:65px;
}
/*Animaciones*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/*SIDEBAR*/
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar {
  height: 64px;
  position: fixed;
  z-index: 100;
  width: 100%  !important;
}

.mat-toolbar .mat-toolbar-row{
  width: 90%;
}
.sidenav .mat-toolbar {
  background: inherit;
  height: 64px;
  position: fixed;
  z-index: 100;
  width: 100%  !important;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-nav-list{
  color: Gray
}

.mat-list-item {
  color: Green
}
