<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">APLICATIVO</th>
      <th scope="col">INTERFAZ</th>
      <th scope="col">SERVICIO</th>
      <th scope="col">MÉTODO</th>
      <th scope="col">TOTAL INVOCACIONES</th>
      <th scope="col">TOTAL EJECUCIONES NOT OK</th>
      <th scope="col">TIEMPO MÁXIMO DE RESPUESTA</th>
      <th scope="col">TIEMPO MÍNIMO DE RESPUESTA</th>
      <th scope="col">TIEMPO PROMEDIO</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let indx of registroPromedios" >
      <td scope="row"> {{ indx.aplicativo_Responsable}}  </td>
      <td> {{ indx.interfaz}} </td>
      <td> {{ indx.servicio}} </td>
      <td> {{ indx.metodo}} </td>
      <td> {{ indx.total_invocaciones}} </td>
      <td> {{ indx.total_ejcuciones_nok}} </td>
      <td> {{ indx.tiempo_maximo}} seg.</td>
      <td> {{ indx.tiempo_minimo}} seg.</td>
      <td> {{ indx.tiempo_promedio}} seg.</td>
    </tr>
  </tbody>
</table>
